@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #FFFFFF;
  color: #444444;
}

.button {
  display: block;
  padding: 10px 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  color:#000000;
  background-color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  border:none
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* pages */

.page-header::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #FFE17F;
  width: 1160px;
  height: 300px;
  top: 40px;
}

.page-header {
  width: 1160px;
  margin: 0 auto;
  color: #000000;
  list-style-type: none;
}

.navigation {
  width: 1040px;
  margin: 0 auto;
}

.navigation-logo {
  display: flex;
  align-items: center;
  width: 145px;
  margin-top: 17px;
  margin-bottom: 30px;
}

.navigation-user-container {
  display: flex;
  justify-content: space-between;
}

.search-form {
  display: flex;
  width: 517px;
  font-size: 16px;
  line-height: 20px;
}

.search-field {
  width: 359px;
  padding-left: 48px;
  background-color: inherit;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 50px 0px 0px 50px;
}

.search-button {
  width: 160px;
  text-align: center;
  background-color: inherit;
  border: 2px solid #000000;
  border-left: none;
  box-sizing: border-box;
  border-radius: 0px 20px 20px 0px;
}

.navigation-user {
  margin: 0;
  padding: 5px 0;
}

.navigation-user-login {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 230px;
  list-style-type: none;
}

.navigation-user-item-login {
  max-width: 150px;
}

.navigation-user-list {
  display: flex;
  justify-content: space-between;
  width: 240px;
  list-style-type: none;
}

.navigation-user-link {
  display: block;
  height: 30px;
  color: inherit;
  text-decoration: none;
  padding-left: 27px;
}

.navigation-site {
  display: flex;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style-type: none;
}

.navigation-site-item {
  width: 127px;
  
}

.navigation-site-item-catalog {
  width: 293px;
  margin-right: auto;
}

.navigation-site-item-align {
  margin-left: 45px;
}

.navigation-site-link {
  display: block;
  font-family: 'Raleway' , sans-serif;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  padding: 15px 0;
  z-index: 1;
}

.drop-down-submenu {
  list-style-type: none;
}

.drop-down-submenu-link {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #000000;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.promo-slider {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -20px;
  height: 560px;
  margin-bottom: 50px;
}

.slider-image {
  width: 560px;
}

.slider-button-wrapper {
  display: flex;
  justify-content: end;
  width: 530px;
  height: 60px;
  position: relative;
  top: -350px;
  left: 30px;
  z-index: 1;
}

.slider-prev {
  margin-right: auto;
}


.slider-info {
  position: relative;
  width: 560px;
  padding-top: 123px;
  padding-bottom: 38px;
}

.slider-number {
  display: block;
  width: 250px;
  position: absolute;
  top: 90px;
  right: 49px;
  z-index: -1;
  font-size: 180px;
  font-weight: 700;
  text-align: end;
  color: #FFFFFF;
}

.slider-title {
  margin: 0;
  margin-bottom: 29px;
}

.title-main {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.slider-description {
  margin: 0;
  margin-bottom: 51px;
}

.slider-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 49px;
}

.slider-pagination {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  max-width: 300px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.slider-pagination-item {
  margin-right: 20px;
}

.slider-pagination-item:last-child {
  margin-right: 0px;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  border: 2px solid #000000;
  border-radius: 50%;
  background: inherit;
  padding: 0;
}

.slider-pagination-button-current {
  background: #000000;
}

.slider-param {
  display: flex;
  flex-direction: column-reverse;
  width: 307px;
}

.slider-param-title {
  font-size: 16px;
  font-weight: 400;
}

.slider-param-value {
  font-size: 36px;
  color: #000000;
}

.categories {
  font-family: 'Raleway', sans-serif;
  line-height: 24px;
  letter-spacing: -0.02em;
  margin-bottom: 70px;
}

.categories-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.categories-item {
  width: 160px;
}

.categories-link::before {
  content: "";
  display: block;
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  margin-bottom: 33px;
}

.categories-link {
  text-decoration: none;
  color: #000000;
}

.services {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}


.services-list {
  width: 287px;
  margin: 0;
  padding: 65px 0;
  list-style-type: none;
}

.services-item {
  margin-bottom: 35px;
  padding: 10px 0;
}

.services-item:last-child {
  margin-bottom: 0;
}

.button-services {
  width: 160px;
}

.button-current {
  background: #000000;
  color: #FFE17F;
}

.services-content {
  width: 694px;
  margin-right: 63px;
}

.services-content-title {
  margin: 0;
  margin-bottom: 34px;
}

.services-content-description {
  margin: 0;
}

.button-delivery {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 23px;
  background: #F0F0F0;
  border-style: none;
  width: 100%;
  margin: 0 0 70px;
  padding: 40px 125px;
}

.company-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.about-company {
  width: 520px;
  padding-top: 47px;
  padding-right: 23px;
}

.about-company-title {
  margin: 0;
  margin-bottom: 48px;
}

.about-company-description {
  margin: 0;
  margin-bottom: 30px;
}

.transport-companies {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 38px;
  list-style-type: none;
}

.transport-companies-link {
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.button-about-company {
  width: 270px;
}

.contacts {
  width: 532px;
  padding-top: 47px;
  padding-right: 23px;
}

.contacts-title {
  font-size: 24px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts-adress {
  font-style: normal;
  margin-bottom: 30px;
}

.contacts-location {
  margin: 0;
}

.contacts-tel {
  color: #444444;
}

.contacts-working-hours {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.button-write-us {
  width: 259px;
}

.subscribe {
  margin-top: 70px;
  background: #F0F0F0;
}

.subscribe-container {
  width: 1160px;
  margin: 0 auto;
  padding: 64px 141px 56px;
}

.subscribe-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 144px;
}

.subscribe-title {
  width: 348px;
  margin: 0;
  margin-right: 152px;
}

.subscribe-description {
  width: 560px;
  margin: 0;
  align-self: flex-end;
}

.subscribe-form-wrapper {
  display: flex;
  justify-content: space-between;
}

.subscribe-form {
  display: flex;
  width: 810px;
}

.subscribe-field {
  width: 557px;
  height: 55px;
  font-family: Rubik;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
  opacity: 0.5;
  border: none;
  border-bottom: 3px solid #C4C4C4;
  background-color: inherit;
  padding: 0;
  padding-left: 16px;
}

.subscribe-button {
  width: 253px;
  height: 57px;
  border: 3px solid #CECECE;
  box-sizing: border-box;
  align-self: flex-end;
  background-color: inherit;
}

.subscribe-free {
  margin: 0;
  align-self: center;
  padding-left: 32px;
}

.page-footer {
  background: #444444;
}

.page-footer-container {
  width: 1160px;
  margin: 62px auto;
}

.page-footer-logo {
  margin-bottom: 35px;
}

.footer-logo {
  display: block;
  width: 145px;
  height: 36px;

}

.footer-wrapper-raw {
  display: flex;
  margin-bottom: 49px;
}

.adress-footer {
  display: inline;
  width: 239px;
  margin-right: 112px;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.footer-navigation-list {
  margin: 0;
  padding: 0;
  display: flex;
  width: 444px;
  justify-content: space-between;
  list-style-type: none;
}

.footer-navigation-item {
  margin-right: 25px;
}

.footer-navigation-item:last-child {
  margin-right: 0;
}

.footer-navigation-link {
  background-color: inherit;
  color: #FFFFFF;
}

.footer-tel {
  width: 175px;
  margin-left: auto;
}

.footer-tel-link {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.social-list {
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.academy-link {
  width: 115px;
  margin-left: 390px;
}
/* catalog */
.inner-header {
  width: 1040px;
  margin: 0 auto;
}

.breadcrumbs {
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  text-decoration: none;
}

.catalog-products {
  background: #F0F0F0;
}

.catalog-container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
}

.catalog-filter {
  width: 320px;
  padding-top: 25px;
  padding-left: 60px;
  padding-right: 60px;
  color: #000000;
}

.catalog-title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.catalog-filter-group {
  border: none;
  border-top: 2px solid #000000;
}

.catalog-filter-group-title {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
}

.catalog-filter-list {
  list-style-type: none;
}

.control-input {
  font-size: 16px;
  line-height: 19px;
}

.catalog-right-column {
  width: 840px;
}

.select-control {
  border: none;
  background-color: inherit;
}

.product-cards {
  background: #FFFFFF;
}

.product-list {
  margin: 0;
  padding: 70px 40px 0px;
  list-style-type: none;
}

.product-card-link {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.product-card-image {
  background-color: #F0F0F0;
}

.product-card-price {
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #444444;
}

.button-pagination-show-more {
  font-size: 16px;
  line-height: 19px;
  width: 760px;
  height: 55px;
  border: 3px solid #E5E5E5;
}

.pagination {
  background-color: #EBEBEB;
  list-style-type: none;
}

.pagination-link {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #444444;
  opacity: 0.3;
}

.pagination-prev, .pagination-next {
  background-color: inherit;
  color: #000000;
  opacity: 1;
}